
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.caret {
  cursor: pointer; 
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  transition: .4s;
}

.caret-down{
  &:before{
    transform: rotate(90deg); 
  }
}

.nested {
  display: none;
}

.active {
  display: block;
  padding-left: 15px;
}